$primaryColor: 'red';
$secondaryColor: 'black';


// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }


// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

/* ***************** Mobile view ******************* */



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* Change view depending on size of screen */
@media only screen and (max-width: 600px) {

  .App {
    h1 {
      background-color: yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      background: -webkit-linear-gradient(144deg,#EF4765, #FF9A5A);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
  body {
    background-color: $primaryColor;
  }
}

@media only screen and (min-width: 1200px) {
  
}
