/* ***************** Mobile view ******************* */



@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  /* Change view depending on size of screen */
  @media only screen and (max-width: 600px) {
  
    // input {
    //   display: flex;
    //   justify-content: flex-end;
    //   align-items: left;
    //   margin-top: 1rem;
    // }
    // button {
    //   display: flex;
    //   justify-content: center;
    //   align-items: flex-start;
  
    // }
    .searchBar {
      margin-top: 1rem;
      margin-bottom: 1rem;
      // background-color: yellow;
      
      input {
        // background-color: blueviolet;
        display: inline-flex;
        margin-left: 2.4rem;
        border-width: .3749rem;
        border-style: dashed;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        border-color: rgb(181, 181, 181);
        font-size: 1.125rem;
        font-weight: bold;
        // color: linear-gradient(144deg,#EF4765, #FF9A5A);
        
      }

      input::placeholder {
        color: gray;
      }
      
      
      
      
      button {
        
        background-image: linear-gradient(144deg,#EF4765, #FF9A5A);
        border: 0;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
        box-shadow: rgba(151, 65, 252, 0.2) 0 0.9375rem 1.875rem -0.3125rem;
        box-sizing: border-box;
        color: #FFFFFF;
        // display: inline-flex;
        font-family: Phantomsans, sans-serif;
        font-size: 1.125rem;
        font-weight: bold;
        margin-top: .2rem;
        // justify-content: center;
        // line-height: 1em;
        max-width: 100%;
        width: 6rem;
        height: 2.1rem;
        // margin-left: 7.5rem;
        // padding: 19px 24px;
        text-decoration: none;
        // user-select: none;
        // -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
      }

      // button:hover {
      //   background-color: rgb(147, 146, 146);
      //   color: white;
      // }
      button:focus {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
      }

      button:hover {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
      }
      
    }

    
  }
  @media only screen and (min-width: 600px) {
  
  }
  
  @media only screen and (min-width: 768px) {
    body {
      background-color: 'blue';
      color: 'red';
    }
  }
  
  @media only screen and (min-width: 992px) {
    body {
      background-color: 'blue';
      color: 'red';
    }
  }
  
  @media only screen and (min-width: 1200px) {
    
  }
  